.role-select-container {
  min-height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.role-select-container h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 35px;
}


.role-cards {
  background: #111;
  padding: 40px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  gap: 30px;
  max-width: 700px;
  width: 100%;
}

.role-card {
  background: linear-gradient(180deg, #1b1b1b, #0e0e0e);
  border-radius: 14px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.role-card h3 {
  color: #00c3d9;
}

.role-card p {
  color: #ccc;
}

.role-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 18px rgba(0, 195, 217, 0.35);
}
