* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.signup-container {
  min-height: 100vh;
  background: #0b0b0b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-card {
  width: 1150px;
  height: 600px;
  display: flex;
  background: #202020;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* LEFT PANEL */
.signup-left {
  width: 20%;
  background: #505252;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.semicircle {
  position: absolute;
  left: -220px;
  width: 450px;
  height: 450px;
  background: #2563eb;
  border-radius: 50%;
}

.signup-left h1 {
  color: #2563eb;
  font-size: 40px;
  font-weight: 800;
  z-index: 2;
  line-height: 1.1;
}

/* MIDDLE IMAGE */
.signup-middle {
  width: 35%;
}

.signup-middle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT FORM */
.signup-right {
  width: 45%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-right h2 {
  color: #2563eb;;
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* BUTTON */
.signup-btn {
  margin-top: 20px;
  background: #2563eb;;
  color: white;
  padding: 14px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  color: white;
  font-size: 12px;
}

.divider span {
  flex: 1;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

/* LOGIN TEXT */
.login-text {
  margin-top: 20px;
  text-align: center;
  color: #ddd;
  font-size: 13px;
}

.login-text a {
  color: white;
  text-decoration: underline;
}
